@import url(../fonts/Yekan.css);

/* * root styles --------------------*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primeryColor: #6d28d9;
  --seconderyColor: #ede9fe;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainGray: #7c7c7c;
  --bodyColor: #f6f6f6;
  --mainSpacing: 0.1rem;
  --mainTransiton: all 0.3s linear;
  --mainRed: #db2777;
}

body {
  color: var(--mainBlack);
  font-family: "Yekan";
  background-color: var(--bodyColor);
  position: relative;
}
